<header class="site-header simple">
  <div class="container header-stack">
    <h1 class="brand"><a href="/">CSE Motors</a></h1>

    <nav class="primary-actions" aria-label="Primary">
      <!-- Static links -->
      <a class="pill" href="/finance">Financing</a>
      <a class="pill" href="/service">Service</a>
      <a class="pill" href="/inv">Inventory</a> <!-- Link to inventory page -->
    </nav>
  </div>
</header>
