<%- include("../partials/header", { nav }) %>

<main class="container detail-page">
  <h1 class="page-title"><%= title %></h1>
  
  <section class="detail-wrapper">
    <%- content %>
  </section>
</main>

<%- include("../partials/footer") %>
