<!doctype html>
<html lang="en">
  <%- include('partials/head', { title, description }) %>
  <body>
    <%- include('partials/header') %>
    <main id="main" class="container">
      <%- body %>  <!-- page content goes here -->
    </main>
    <%- include('partials/footer') %>
    <script src="/js/main.js" defer></script>
  </body>
</html>
